{% extends 'base/base.html' %}
{% load humanize %}


{% block title %}Poyosei|Tableau Campagne{% endblock %}

{% block javascript %}

<script>
    function searchTable() {
        var input, filter, found, table, tr, td, i, j;
        input = document.getElementById("searchcampagne");
        filter = input.value.toUpperCase();
        table = document.getElementById("campagneTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) {
                if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                    found = true;
                }
            }
            if (found) {
                tr[i].style.display = "";
                found = false;
            } else {
                tr[i].style.display = "none";
            }
        }
    }
    </script>
    {% endblock %}
    {% block subtitle%}
        <h1>Accueil Campagne</h1>
    {% endblock %}
    {% block content %}



        <div class='container'>
            </span></a><input type="text" align="middle" id="searchcampagne" onkeyup="searchTable()" placeholder="Chercher une campagne" class="form-control">
          <BR />
              {% csrf_token %}
              <table class="table table-striped" id="campagneTable">
                  <thead>
                      <tr class="info">
                          <th>Pacage</th>
                          <th scope="row">annee</th>
                          <th scope="row" class="text-right" data-toggle="tooltip on top" title="Référence individuelle définitive" >RID</th>
                          <th scope="row" class="text-right" data-toggle="tooltip on top" title="Référence individuelle temporaire">RIT</th>
                          <th scope="row" class="text-right" >Production commerciale</th>
                          <th scope="row"></th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for c in campagne %}
                      <tr>
                          <td>{{ c.pacage }}</td>
                          <td>{{ c.annee }}</td>
                          <td align ="middle" class="text-right"><strong>{{ c.rid|intcomma }} KG</strong></td>
                          <td align ="middle" class="text-right"><strong>{{ c.rit|intcomma }} KG</strong></td>
                          <td align ="middle" class="text-right">{{ c.production_commerciale|intcomma }}</td>
                          <td align="right">
                               <div class="btn-group">
                                  <a href="{% url 'poyosei:campagneFiche' c.pacage c.annee %}" class="btn btn-default"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                              </div>
                          </td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
              <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h1>Suppression de la campagne</h1>
                      </div>
                      <div class="modal-body">
                          <p id="p">pacage</p>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">annuler</button>
                          <a class="btn btn-danger btn-ok">Supprimer</a>
                      </div>
                  </div>
              </div>
            </div>
        </div>
         <script>
            $('#confirm-delete').on('show.bs.modal', function(e) {
                $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
                id = $(e.relatedTarget).data('id');
                pacage = $(e.relatedTarget).data('pacage');
                annee = $(e.relatedTarget).data('annee');
                $("#p").text("Supprimer la campagne n°" + id + " pour le pacage " + pacage_cedant +" de l'année : "+annee+ "?" );
                <!-- $("#test").text("Hello world!"); -->
            });
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();   
            });        
        </script>
        <style type="text/css">
        .margin-constraint{
            /*On indique tout simplement une marge*/
            margin-left: 700px;
            margin-right: 700px;
        }

        .useful-width{
            /*On règle ensuite la largeur utile puis on centre*/
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
        </style>

        {% endblock %}
